@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;900&family=Poppins&family=Roboto:wght@700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
nav{
  display: none;
}
.profileRound{
  border-radius: 50%;
  background-color:oldlace;
  height:2em;
  width:2em;
}
.burger{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.line{
  width:2em;
  height:.3em;
  margin:.1em 0;
  background-color: mediumturquoise;
}
.dropdown{
  background-color: mediumturquoise;
  padding: .2em 0;
}
.dropdown p{
  margin: .5em;
}
.HomeCard{
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}
.storeCard{
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}
.storeCard .imageHolder img{
  border-radius: 8px 0 0 8px;
}
.Home .imageHolder img{
  border-radius: 8px 8px 0 0;
}
.Header{
  height:10vh;
  background-color: white;
  border-bottom: mediumturquoise 1px solid;
  z-index:1;
}
@media only screen and (min-width: 768px) {
  .burger{
    display: none;
  }
  nav{
    display: flex;
    align-items: center;
  }
}

.Footer{
  text-align: center;
}

.login{
  top: 20vh
}

.cbody{
  margin-left: 35px;
  margin-right: 35px;
}

.profile, .register{
  padding-top: 15vh;
  padding-bottom: 10vh;
}