*{
  text-align: center;
}

nav{
  display: none;
}
.profileRound{
  border-radius: 50%;
  background-color:oldlace;
  height:2em;
  width:2em;
}
.burger{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.line{
  width:2em;
  height:.3em;
  margin:.1em 0;
  background-color: mediumturquoise;
}
.dropdown{
  background-color: mediumturquoise;
  padding: .2em 0;
}
.dropdown p{
  margin: .5em;
}
@media only screen and (min-width: 768px) {
  .burger{
    display: none;
  }
  nav{
    display: flex;
    align-items: center;
  }
}